.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.RDataTmp
# macOS system file
.DS_Store
# IDE-specific files
files-pane.pper
windowlayoutstate.pper
workbench-pane.pper
# Research report LateX documents
Research_Report_Heleen_Brüggen.log
Research_Report_Heleen_Brüggen.bbl
Research_Report_Heleen_Brüggen.synctex.gz
# Data file
data/
