.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.RDataTmp
# macOS system file
.DS_Store
# IDE-specific files
files-pane.pper
windowlayoutstate.pper
workbench-pane.pper
# Thesis LateX documents
Thesis_Heleen_Brueggen.log
Thesis_Heleen_Brueggen.bbl
Thesis_Heleen_Brueggen.synctex.gz
Thesis_Heleen_Brueggen.blg
Thesis_Heleen_Brueggen.aux
Thesis_Heleen_Brueggen.fdb_latexmk
Thesis_Heleen_Brueggen.fls
Thesis_Heleen_Brueggen.pyg
Thesis_Heleen_Brueggen.toc
Thesis_Heleen_Brueggen.spl
# README_files 
README_files/