.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.RDataTmp
# macOS system file
.DS_Store
# IDE-specific files
files-pane.pper
windowlayoutstate.pper
workbench-pane.pper
# Research report LateX documents
Research_Report_Heleen_Brüggen.log
Research_Report_Heleen_Brüggen.bbl
Research_Report_Heleen_Brüggen.synctex.gz
# Rubbish files
R/Multilevel BART Experiments.R
R/Rommel Simulaties.R
R/Rommel Simulaties 2.R
# Thesis LateX documents
Thesis_Heleen_Brueggen.log
Thesis_Heleen_Brueggen.bbl
Thesis_Heleen_Brueggen.synctex.gz
Thesis_Heleen_Brueggen.blg
Thesis_Heleen_Brueggen.aux
Thesis_Heleen_Brueggen.fdb_latexmk
Thesis_Heleen_Brueggen.fls
Thesis_Heleen_Brueggen.pyg
Thesis_Heleen_Brueggen.toc
# Thesis LateX documents journal
Thesis_Heleen_Brueggen_Journal.log
Thesis_Heleen_Brueggen_Journal.bbl
Thesis_Heleen_Brueggen_Journal.synctex.gz
Thesis_Heleen_Brueggen_Journal.blg
Thesis_Heleen_Brueggen_Journal.aux
Thesis_Heleen_Brueggen_Journal.fdb_latexmk
Thesis_Heleen_Brueggen_Journal.fls
Thesis_Heleen_Brueggen_Journal.pyg
Thesis_Heleen_Brueggen_Journal.toc
Thesis_Heleen_Brueggen_Journal.spl
# README_files 
README_files/